*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {

}


.bg-img {
    background-image: url('../img/bgimg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;


}
.bg-color {
    background: linear-gradient(#D52047CC, #EE3D1BCC);
    height: 100vh;
    
}
.container-header {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

header{
    
    height: 100px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 18PX;
    line-height: 21.6px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}


.nav ul{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    list-style-type: none;
}

.nav ul li{
    padding: 0 8px;
}

.bars {
    display: none;
    font-size: 25px;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_name {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 84.38px;
    letter-spacing: 5%;
}
.title_text {
    padding-top: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5%;
    text-align: center;
    width: 550px;
    word-wrap: break-word;
}
.title_button{
    padding-top: 40px;
    text-align: center;
}

.title_button button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 160px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border:none ;
    color: #ED4C5C;
    font-size: #ED4C5C;
    line-height: 16.41px;
    text-transform: uppercase;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}



.one{
    width: 100%;
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.one_text_wrap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one_text{
    width: 445px;

}

.one_img{
    width: 50%;
}

.one_img img{
    width: 100%;
}

.one_text h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42.19px;
    color: black;

}

.one_text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    padding-top: 20px;
    text-align: justify;
}

.one_text h2{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ED4C5C;
    font-size: 16px;
    line-height: 19.6px;
}


.two{
    margin-top: 95px;
    padding-top: 65px;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.title{
    padding-bottom: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
}

.cc{
    display: flex;

    justify-content: center;
}

.two_img {
    display: flex;
    justify-content: center;
    height: 400px;
}
.two_block {
    position: relative;

    width: 350px;
    height: 250px;
    margin: 0 20px;
}

.two_block img{
    margin-left: 0 50px;
    width:100%;

}

.two_block_text {
    padding: 25px 32px;
    position: absolute;
    top: 60%;
    left: 12%;
    width: 270px;
    height: 198px;
    border-radius: 8px;
    box-shadow: 0 0 20px 1px rgb(75, 75, 75);
    background-color: #FFFFFF;
}
.two_block_text h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
    color: #101010;
    padding-bottom: 20px;
}
.two_block_text p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}

.two_block_text h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ED4C5C;
}


a{
    color: #ED4C5C;
    text-decoration: none;
}

.three {
    padding-top: 65px;
}
.texno {
}

.three_content {
    display: flex;
    justify-content: space-between;
}
.three_content_block {
    width: 255px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.three_img {
    position: relative; 
    width: 117px;
    height: 120px;
}

.three_img p {
    color: #10101014;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 120px;
    font-size: 100px;
}
.three_img_ico_1{
    position: absolute;
    top: 50%;
    left: 23%;
}
.three_img_ico {
    position: absolute;
    top: 50%;
    left: 30%;
}
.three_text{
    text-align: center;
    padding-top: 40px;
    
}

.three_text h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;

}
.three_text p {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;

}

.four{
    background-color: #ED4C5C;
    width: 100%;
    margin-top: 100px;
    padding: 95px 0 ;
}

.ff{
    
    display: flex;
}

.four_text_wrap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four_text{
    width: 445px;

}

.four_img{
    width: 50%;
}

.four_img img{
    width: 100%;
}
.four_text{

    color: #FFFFFF;
}

.four_text h1{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42.19px;

}

.four_text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    padding-top: 40px;
    text-align: justify;
}


.four_ico{
    padding-top: 40px;
}

.four_ico img:first-child{
    padding-right: 28px;
}

.five {
    padding: 70px 0;
}

.five_wrap {
    display: flex;
    justify-content: space-between;
}
.five_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 50%;
    padding-right: 40px;
}
.five_text h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42.19px;
}
.five_text p{
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    text-align: justify;
}

.five_input{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.five_input input{
    outline: none;
    color: #13274380;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px #333333 solid;
    border-radius: 6px;
    width: 100%;
    height: 60px;
}

.five_input button{
    color: #FFFFFF;
    width: 160px;
    height: 50px;
    background-color: #ED4C5C;
    border: none;
    border-radius: 6px;
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color:#FAFAFA;
    color: #ED4C5C;
    height: 200px;
    width: 100%;

}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.footer_content p{
    color: #ED4C5C;
    font-weight: bold;
    font-size: 12px;
}

.ico{
    display: flex;
}

.ico i{
    padding: 0 10px;
    border-right: 1px solid #f64e50;
}

.ico i:last-child{
    border-right: none;
}













@media (max-width:1200px) {
    .cc{
        flex-wrap: wrap;
    }
    
    
    
}

@media (max-width:1024px) {
    .one{
        justify-content: center;
    }
    .one_text{
        padding-right: 20px;

    }
    .one_img{
        width: 45%;
    }
    .ff{
        justify-content: center;
    }
    .four_text{
        padding-right: 20px;

    }
    .four_img{
        width: 45%;
    }
}

@media (max-width:768px) {
    .nav{
        display: none;

    }
    .bars{
        display: block;
        
    }
    .title_name{
        font-size: 40px;
    }
    .title_text{
        padding-top: 20px;
        width: 280px;
        font-size: 20px;
    }
    .one{
        padding-top: 30px;

        flex-direction: column;
        align-items: center;
        
    }
    .one_text_wrap{
        text-align: center;
        width: 100%;
    }
    .one_img{
        padding-top: 20px;
        width: 100%;
    }
    .one_text{
        padding-right: 0;
        width: 100%;
    }
    .one_text h1{
        font-size: 24px;
    }

    .four{
        padding-top: 20px;
    }
    .ff{
        padding-top: 0;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .four_text_wrap{
        text-align: center;
        width: 100%;
    }
    .four_img{
        padding-top: 0;
        width: 100%;
    }
    .four_text{
        padding-right: 0;
        width: 100%;
    }
    .four_text h1{
        padding-top: 20px;
        font-size: 24px;
    }
    .four_text p{
        padding-top: 10px;
    }
    .four_ico{
        padding-top: 20px;
    }

    .three_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .three_content_block{
        padding-top: 20px;
    }
    .three .title{
        padding-bottom: 10px;
    }

    .five_wrap{
        flex-direction: column;
    }
    .five_input{
        width: 100%;
    }
    .five_text{
        padding-right: 0;
        width: 100%;
    }
    .five_text h1{
        text-align: center;
    }
    .five_text p{
        padding-top:20px ;
    }
    .five_input button{
        width: 100%;
    }

    .footer_content p{
        padding-right: 10px;
    }
}
@media (max-width:480px) {
    .two_block{
        width: 90%;
    }
    .two_block_text{
        width: 75%;
        height: 80%;
    }
    .two_block_text h1{
        text-align: center;
        font-size: 12px;
        padding-bottom: 10px;
    }
    .two_block_text p{
        font-size: 10px;
    }
}
